<div class="card" id="<%= dom_id announcement %>">
  <div class="card-header">
    <% if announcement.team %>
      <%= link_to i(announcement.team.team_type.icon), team_path(announcement.team), class: "badge rounded-pill", style: "background-color:#{announcement.team.color};color:#{contrasting_color(announcement.team.color)}", "data-turbo": "false", title: "Posted in #{announcement.team.name}" %>
    <% end %>
    <%= link_to announcement.title, announcement, "data-turbo": "false" %>
  </div>
  <div class="card-body">
    <%= announcement.content %>
  </div>
</div>
