<% breadcrumb @announcement %>

<div class="card">
  <div class="card-header">
    <h1><%= @announcement.title %></h1>
  </div>
  <div class="card-body">
    <%= @announcement.content %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_announcement_path(@announcement), class: 'btn btn-warning' if policy(@announcement).update? %>
    <%= link_to 'Delete', @announcement, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(@announcement).destroy? %>
  </div>
</div>
