<% breadcrumb @badge_type %>

<%= simple_form_for(@badge_type) do |f| %>
<div class="card">
  <div class="card-header">
    <h1>New badge type</h1>
  </div>
  <div class="card-body">
    <%= render "form", f: f %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", badge_types_path, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
