<% breadcrumb @ledger_entry_link %>

<%= simple_form_for(@ledger_entry_link) do |f| %>
<div class="card">
  <div class="card-header">
    <h1>New ledger entry link</h1>
  </div>
  <div class="card-body">
    <%= render "form", f: f %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", ledger_entry_links_path, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
