<% breadcrumb @notifier %>

<div class="card">
  <div class="card-header">
    <h1><%= @notifier.identifier_name %></h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_notifier_path(@notifier), class: 'btn btn-warning' %>
    <%= link_to 'Delete', @notifier, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
