<div class="card">
  <div class="card-header">
    <h1><%= @token.identifier_name %></h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_token_path(@token), class: 'btn btn-warning' %>
    <%= link_to 'Delete', @token, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Tokens', tokens_path, class: 'btn btn-dark' %>
  </div>
</div>
