<% breadcrumb :root %>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h2>Announcements</h2>
      </div>
      <div class="card-body">
        <% policy_scope(Announcement).visible.each do |announcement| %>
          <%= render announcement %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Calendar</h2>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">
        <h2>XXX</h2>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>