<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h2>Announcements</h2>
      </div>
      <div class="card-body">
        <% policy_scope(Announcement).visible.each do |announcement| %>
          <%= render announcement %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Calendar</h2>
      </div>
      <div class="card-body">
        <div data-controller="calendar" data-calendar-events-value="<%= policy_scope(Event).as_json(include: { team: { only: %i[ name color ], include: { team_type: { only: :icon } } } }).to_json %>">
          <div id="calendar" data-turbo="false">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">
        <h2>XXX</h2>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
