<% breadcrumb :new, "mailbox" %>

<%= simple_form_for(@mailbox) do |f| %>
<div class="card">
  <div class="card-header">
    <h1>New mailbox</h1>
  </div>
  <div class="card-body">
    <%= render "form", f: f %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", mailboxes_path, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
