<div class="card" id="<%= dom_id ledger_ownership %>">
  <div class="card-header">
    <%= link_to ledger_ownership.identifier_name, ledger_ownership_path(ledger_ownership.ledger, ledger_ownership), 'data-turbo': false %>
  </div>
</div>
