<% breadcrumb @ledger_ownership %>

<div class="card">
  <div class="card-header">
    <h1><%= @ledger_ownership.identifier_name %></h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to 'Delete', ledger_ownership_path(@ledger, @ledger_ownership), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
