<div class="card" id="<%= dom_id hook %>">
  <div class="card-header">
    <%= link_to hook.identifier_name, hook %>
  </div>
  <div class="card-body">
    <p>Runs on <%= hook.event %></p>
    <p><%= hook.code.truncate 40 %></p>
  </div>
</div>
