<div class="card" id="<%= dom_id event_type %>">
  <div class="card-header">
    <%= link_to event_type.identifier_name, event_type %>
  </div>
  <div class="card-body">
    <%= pluralize event_type.events.count, 'event' %>
  </div>
</div>
