<% breadcrumb @time_clock_punch %>

<div class="card">
  <div class="card-header">
    <h1><%= @time_clock_punch.identifier_name %></h1>
  </div>
  <div class="card-body">
    <%#= TODO SHOW ALL PUNCHES %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_time_clock_punch_path(@time_clock_punch), class: 'btn btn-warning' %>
    <%= link_to 'Delete', @time_clock_punch, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
