<% breadcrumb @time_clock_punch %>

<div class="card">
  <div class="card-header">
    <h1><%= @time_clock_punch.identifier_name %></h1>
  </div>
  <div class="card-body">
    You thought you could edit or delete this time clock punch, but you were wrong.
  </div>
  <div class="card-footer">
    <%= link_to 'Cannot edit', '#', class: 'btn btn-secondary' %>
    <%= link_to 'Cannot delete', '#', class: 'btn btn-secondary' %>
  </div>
</div>
