crumb :<%= plural_table_name %> do
  link "<%= plural_table_name.capitalize %>", <%= index_helper(type: :path) %>
end

crumb :<%= singular_table_name %> do |<%= singular_table_name %>|
  link <%= singular_table_name %>.identifier_name, <%= singular_table_name %>
  parent :<%= plural_table_name %>
end