.breadcrumb {
  color: black;
  display: flex;
  justify-content: start;
}

.breadcrumb-link {
  color: var(--pair-c-fg);
}

.breadcrumb-current {
  color: var(--pair-c-fg);
}

.breadcrumb-container {
  display: flex;
  align-items: start;
  justify-content: end; 
  background-color: color-mix(in srgb, var(--pair-c-bg), white 20%);
  padding-left: 1rem;
  padding-top: 1rem;
}
