.fc-popover {
  @extend .card;
}

.fc-popover-header {
  @extend .card-header;
  background-color: var(--pair-c-bg);
  color: var(pair-c-fg);
  border-bottom-color: var(--pair-a-fg);
}

.fc-popover-body {
  @extend .card-body;
  background-color: var(--pair-a-bg);
}
