.money {
  font-family: $font-family-monospace;

  &.money-positive { color: $green-600; }
  &.money-negative { color: $red-600; }
  &.money-zero { color: $gray-700; }

  .money-whole { font-weight: bold; }
}

.money-bg-negative {
  background-color: $red-600;
  color: white;
}

.money-bg-positive {
  background-color: $green-600;
  color: white;
}