.form-check-input, input.form-control, select.form-select, textarea.form-control {
  border-color: $greige-darkest;
  background-color: $greige-lightest;

  &:focus {
    background-color: white;
  }
}

.form-check .form-check-input {
  float: none;
  margin-left: 0;
  margin-right: 0.33rem;
  border-color: $greige-darkest;
  background-color: $greige-light;

  &:checked {
    background-color: $greige-darkest;
  }
}