.form-check-input, input.form-control, select.form-select, textarea.form-control {
  border-color: $greige-darkest;
  background-color: $greige-lightest;

  &:focus {
    background-color: white;
  }
}

.code-editor textarea.form-control {
  font-family: $font-family-monospace;
  background-color: $greige-darkest;
  color: $greige-lightest;
}

.form-check .form-check-input {
  float: none;
  margin-left: 0;
  margin-right: 0.33rem;
  border-color: $greige-darkest;
  background-color: $greige-light;

  &:checked {
    background-color: $greige-darkest;
  }
}

.form-control.fancy_color {
  border: none;
  color: inherit !important;
  background-color: inherit !important;
}

.fancy-color-container {
  display: flex;
  padding: 0;
  border-color: $greige-darkest;
  background-color: $greige-lightest;
  --bs-gutter-x: 0;
  align-items: center;
}
.fancy-color-picker-col {
  border-right: 1px solid $greige-darkest;
}

#capture-video {
  width: 100%;
}

input.datetime {
  border-color: $greige-darkest;
  background-color: $greige-lightest;
}