.ledger {
  .row {
    @extend .py-2;
    align-items: center;
    
    &.header {
      @extend .mb-2;
      font-size: 1.25rem;
      font-weight: bold;
      border-top: thin solid var(--pair-a-fg);
      border-bottom: thin solid var(--pair-a-fg);
    }

    &.entry:nth-child(even) {
      background-color: rgba(255,255,255,0.33);
    }
  }
}
