.person-img-container {
    position: relative;
}

.person-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.person-img {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    object-fit: cover;
}