.page {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $greige-darkest;
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
}

.card {
  page-break-inside: avoid;
}

@media print {
  .no-print {
    display: none;
  }

  .page {
    border: none;
    margin: 0;
    padding: 0;
  }

  main {
    min-height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
}