<div class="card text-bg-danger">
  <div class="card-header">
    <h2 class="card-title">Welcome to the Time Kiosk</h2>
  </div>
  <div class="card-body">
    Token not found. Please try again.
  </div>
</div>