<% breadcrumb :new, "time kiosk" %>

<%= simple_form_for :time_kiosk, data: { "controller": "time-kiosk", "turbo_frame": "results" } do |f| %>
  <div class="card">
    <div class="card-header">
      <h1>New time kiosk</h1>
    </div>
    <div class="card-body">
      <%= f.input :token_id %>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "results" do %>

<% end %>
