<% breadcrumb :transactions %>

<div class="card">
  <div class="card-header">
    <h1>Quick Transaction</h1>
  </div>
  <div class="card-body">
    <%= simple_form_for(@transaction) do |f| %>
      <%= render 'transactions/form', f: f %>
    <% end %>
  </div>
</div>

