<div class="card" id="<%= dom_id time_clock_period %>">
  <div class="card-header">
    <%= as_badge time_clock_period, true %>
  </div>
  <div class="card-body">
    <% if time_clock_period.start_time.present? %>
      <strong>Begins: </strong><%= nice_date(time_clock_period.start_time) %><br>
    <% end %>
    <% if time_clock_period.end_time.present? %>
      <strong>Ends: </strong><%= nice_date(time_clock_period.end_time) %>
    <% end %>
  </div>
</div>
