<div class="card" id="<%= dom_id variable %>">
  <div class="card-header">
    <%= link_to variable.identifier_name, variable %>
  </div>
  <div class="card-body">
    <%= variable.value.to_s %>
  </div>
</div>
