<div class="card" id="<%= dom_id checkin %>">
  <div class="card-header">
    <%= link_to checkin.person.identifier_name, [checkin.event, checkin], "data-turbo": "false" %>
  </div>
  <div class="card-body">
    <img src="<%= get_avatar_url(checkin.person.avatar) %>">
    <%= checkin.notes %>
  </div>
</div>
