<% breadcrumb :new, "checkin" %>

<%= simple_form_for @checkin, url: event_checkins_path do |f| %>
<div class="card">
  <div class="card-header">
    <h1>New checkin</h1>
  </div>
  <div class="card-body">
    <%= render "form", f: f %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", @checkin.event, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
