<div class="card" id="<%= dom_id report %>">
  <div class="card-header">
    <%= link_to report.identifier_name, report %>
  </div>
  <div class="card-footer">
    <%= link_to 'Run', run_report_path(report), class: 'btn btn-sm btn-success' %>
  </div>
</div>
