<div class="card" id="<%= dom_id badge_assignment %>">
  <div class="card-header">
    <%= link_to badge_assignment.person.identifier_name, [badge_assignment.badge, badge_assignment], 'data-turbo': false %>
  </div>
  <div class="card-body">
    <%= image_tag get_avatar_url(badge_assignment.person.avatar), class: 'person-img' %>
  </div>
</div>
