<header class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo.svg' %>
      <%= Settings[:title] %>
    </a>
    <button class="navbar-toggler text-white-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <%= i 'bars' %>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
      </ul>
      <form class="d-flex" role="search" action="<%= search_path %>">
        <input class="form-control me-2" type="search" name="q" placeholder="Search for anything..." aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
