<div class="card" id="<%= dom_id account %>">
  <div class="card-header">
    <% if account.team %>
      <%= link_to i(account.team.team_type.icon), team_path(account.team), class: "badge rounded-pill", style: "background-color:#{account.team.color};color:#{contrasting_color(account.team.color)}", "data-turbo": "false", title: "Belongs to #{account.team.name}" %>&nbsp;
    <% end %>
    <%= link_to account.identifier_name, account, 'data-turbo': false %>
  </div>
  <div class="card-body">
    <%= as_currency account.balance %>
  </div>
</div>
